{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
        
    
 <body>
    <div class="page-container">
        <div class="content-wrap">
            <!-- Header -->
            <header class="jumbotron text-center">
                <div class="container">
                    <h1 class="display-4">Bienvenue sur Miniamaker</h1>
                    <p class="lead">Connectez des professionnels et des particuliers pour des prestations de services.</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
                </div>
            </header>

            <!-- Services Section -->
            <section class="container my-5">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h2>Montage Vidéo</h2>
                        <p>Profitez de services de montage vidéo professionnels pour tous vos projets.</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <h2>Design de Site Web</h2>
                        <p>Créez un site web attrayant et fonctionnel avec nos experts en design.</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <h2>Autres Services</h2>
                        <p>Découvrez nos autres services pour répondre à tous vos besoins.</p>
                    </div>
                </div>
            </section>
        </div>

        <!-- Footer -->
        <footer class="bg-light text-center text-lg-start">
            <div class="container p-4">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Miniamaker</h5>
                        <p>
                            Connectez des professionnels et des particuliers pour des prestations de services.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Liens</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-dark">Accueil</a>
                            </li>
                            <li>
                                <a href="#!" class="text-dark">Services</a>
                            </li>
                            <li>
                                <a href="#!" class="text-dark">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-0">Suivez-nous</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" class="text-dark">Facebook</a>
                            </li>
                            <li>
                                <a href="#!" class="text-dark">Twitter</a>
                            </li>
                            <li>
                                <a href="#!" class="text-dark">Instagram</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2025 Copyright:
                <a class="text-dark" href="#">Miniamaker.com</a>
            </div>
        </footer>
    </div>
</body>
{% endblock %}